html,
body{
    height: 100%;
}

#sidenav{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
}

#menu{
    position: relative;
    left: 0;
    height: 80%;
}

#setting{
    margin-bottom: 0;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.separation{
    width: 100%;
}

.iframe-wrapper{
    width: 80%;
    height: 100%;
    position: fixed;
    right: 0;
    display: none;
}

iframe{
    height: 100%;
    width: 100%;
}