<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link href="../static/css/management.css" rel="stylesheet">
        <title>商品管理</title>
    </head>
    <body>
        <div class="container-fluid">
            <div id="search_bar">
                <form method="post" id="search-form">
                    <div class="row row-cols-auto">
                        <div class="col">商品名称:</div>
                        <div class="col">
                            <input class="form-control-sm text-black-50 form-control" placeholder="请输入商品名称..." name="search_com_name" form="search-form">
                        </div>
                        <div class="col">商品编号:</div>
                        <div class="col">
                            <input class="form-control-sm text-black-50 form-control" placeholder="请输入商品编号..." name="search_com_id" form="search-form">
                        </div>
                        <div class="col">商品类别:</div>
                        <div class="col">
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="search_com_cate" form="search-form">
                                <option selected>请选择商品类别...</option>
                                <option value="cate1">cate1</option>
                                <option value="cate2">cate2</option>
                                <option value="cate3">cate3</option>
                            </select>
                        </div>
                        <button class="btn-dark col" onclick="submitForm('search-form')">搜索</button>
                    </div>
                </form>
            </div>

            <hr class="separation">

            <div>
                <table class="table-striped table table-hover">
                    <tr>
                        <th>商品编号</th>
                        <th>商品名称</th>
                        <th>商品类型</th>
                        <th>单位</th>
                        <th>规格</th>
                        <th>描述</th>
                    </tr>
                    {% for item in commodity %}
                    <tr>
                        <td>{{ item[0] }}</td>
                        <td>{{ item[1] }}</td>
                        <td>{{ item[3] }}</td>
                        <td>{{ item[4] }}</td>
                        <td>{{ item[5] }}</td>
                        <td>{{ item[2] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <form method="post">
                <div class="modal fade" id="insertion_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">新增商品</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="com_name" class="form-label">商品名称</label>
                                    <input type="text" class="form-control" id="com_name" placeholder="请输入商品名称..." name="com_name">
                                </div>
                                <div class="mb-3">
                                    <label for="com_id" class="form-label">商品编号</label>
                                    <input type="text" class="form-control" id="com_id" placeholder="请输入商品编号..." name="com_id">
                                </div>
                                <div class="mb-3">
                                    <label for="com_cate" class="form-label">商品类型</label>
                                    <input type="text" class="form-control" id="com_cate" placeholder="请输入商品类型..." name="com_cate">
                                </div>
                                <div class="mb-3">
                                    <label for="com_unit" class="form-label">单位</label>
                                    <input type="text" class="form-control" id="com_unit" placeholder="请输入计量单位..." name="com_unit">
                                </div>
                                <div class="mb-3">
                                    <label for="com_spec" class="form-label">规格</label>
                                    <input type="text" class="form-control" id="com_spec" placeholder="请输入商品规格..." name="com_spec">
                                </div>
                                <div class="mb-3">
                                    <label for="com_desc" class="form-label">描述</label>
                                    <input type="text" class="form-control" id="com_desc" placeholder="请输入商品描述..." name="com_desc">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form method="post">
                <div class="modal fade" id="deletion_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                    <div class="modal-dialog modal-dialog-scrollable modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">删除商品</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <table class="table-striped table table-hover">
                                        <tr>
                                            <th>
                                                <input type="checkbox" class="form-check-input select-all" id="select-all" onclick="selectAll()">
                                                <label class="form-check-label" for="select-all">全选</label>
                                            </th>
                                            <th>商品编号</th>
                                            <th>商品名称</th>
                                            <th>商品类型</th>
                                        </tr>
                                        {% for item in commodity %}
                                        <tr>
                                            <td class="col-1">
                                                <input class="form-check-input select-one" type="checkbox" name="s-record" onclick="selectOne()" value="{{ item[0] }}">
                                            </td>
                                            <td>{{ item[0] }}</td>
                                            <td>{{ item[1] }}</td>
                                            <td>{{ item[3] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-primary">删除</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="float-right">
                <div data-bs-toggle="modal" data-bs-target="#insertion_modal" class="floating_plus" type="button"></div>
            </div>
            <div class="float-right">
                <div data-bs-toggle="modal" data-bs-target="#deletion_modal" class="floating_minus" type="button"></div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="../static/js/manage_page.js" type="text/javascript"></script>
    </body>
</html>