<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/css/index.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <title>欢迎使用库存管理系统！</title>
    </head>
    <body>
        <div class="navbar navbar-light bg-dark flex-column mb-auto p-3 text-white" id="sidenav">
            <div class="text-white flex-column w-100" id="title">
               <h3>库存管理系统</h3>
            </div>

            <hr class="separation">

            <ul class="nav flex-column nav-pills w-100" id="menu">
                <li class="nav-item w-100">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>

            <div class="text-white flex-column mb-auto w-100" id="setting">
                <a href="/" class="insite_hyper text-decoration-none" style="color: inherit">
                    <img src="" alt="">
                    <span>设置</span>
                </a>
                <a href="{{url_for('logout')}}" class="insite_hyper text-decoration-none" style="color: inherit">
                    <img src="" alt="">
                    <span>登出</span>
                </a>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>